<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Confirm Registration </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/process_forgot_password}" th:object="${user}" method="post">

    <div><label> Code: <input th:field="*{cardBill2}" type="text" name="cardBill2" autocomplete="off"/> </label></div>
    <div><label> New Password: <input th:field="*{password}" type="password" name="password"/> </label></div>
    <div><input type="submit" value="Enter"/></div>
</form>
</body>
</html>