<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Confirm Registration </title>
		<link rel ="stylesheet" type="text/css" href="resources/css/homeStyle.css"/>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/confirm_registration}" th:object="${user}" method="post">
    <div><label> Code: <input th:field="*{cardNum2}" type="text" name="cardNum2" autocomplete="off"/> </label></div>
    <div><input type="submit" value="Enter"/></div>
</form>
</body>
</html>