<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css"  href="resources/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="box">
        <h1 id = 'header'>Sign Up</h1>
        <form id = form th:action="@{/process_register}" th:object="${user}"
              method="post" style="max-width: 600px; margin: 0 auto;">


            <i class="fa fa-user icon"></i>
            <input th:field="*{firstName}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Enter First Name"/></br/>
            <i class="fa fa-user icon"></i>
            <input type="text" th:field="*{lastName}" class="form-control"
                   required minlength="2" maxlength="20" name="ln" placeholder="Enter Last Name"/></br>
            <i class="fa fa-envelope icon"></i>
            <input  th:field="*{email}" class="form-control" type="text" name="ea" placeholder="Enter Email*" required="required" /></br>
            <i class="fa fa-key icon"></i>
            <input type="password" th:field="*{password}" class="form-control"
                   required minlength="6" maxlength="10" name="p" placeholder="Enter Password*" /></br>
            <i class="fa fa-phone icon"></i>
            <input type="text" th:field="*{phone}" class="form-control"
                   required minlength="10" maxlength="10" name="phone" placeholder="Enter PhoneNumber*" /></br>

            <h2>Payment Info</h2>
            <label>Card Number</label></br>
            <i class="fa fa-credit-card-alt icon"></i>
            <input th:field="*{cardNum1}" type="text" name="cc1"/>
            <br />
            <label>Expiration Date</label>
            </br>
            <input th:field="*{cardExp1}" type="text" name="cc1"/>

            <h2>Billing Information (Street Address, City, State, Zip Code)</h2>
            <i class="fa fa-road icon"></i>
            <input th:field="*{cardBill1}" type="text" name="sa" placeholder="Enter Billing Address"/></br>

            <label>Sign up for promos?</label>
            <input th:field="*{promo}" type="checkbox" id="promos" name="promos">

            <button id = "redButton" type="submit" class="btn btn-primary btn-block btn-large">Submit</button></br>

        </form>
    </div>
</div>

</body>
</html>