<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel ="stylesheet" type="text/css" href="resources/css/adminHome.css"/>

</head>
<body>
<h1>Check Out Confirmation</h1>


<center>
<th>Number of Tickets: </th>
<td th:object="${ticket}" th:text="${ticket.seatNum}"></td> </br>
<th>Number of Adult Tickets: </th>
<td th:object="${ticket}" th:text="${ticket.seatNum}"></td> </br>
<th>Number of Children Tickets: </th>
<td th:object="${ticket}" th:text="${ticket.seatNum}"></td> </br>
<th>Showing:</th>
<td th:object="${ticket}" th:text="${ticket.ScreeningId}"></td> </br>
<p> Enter Promo Code: </p>


<form th:action="@{/}">
    <input type="submit" value="Complete and Confirm Checkout"/>
</form>
</center>



<!--Below - Figure out how to add a user upon button click -->
<!--
<button type="button" onclick=" ${BootStrapData.UserRepository.()}">Click Me!</button>
-->

</body>
</html>