<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>

<p>You are not logged in. :(</p>

<form th:action="@{/login}" th:object="${user}">
    <input type="submit" value="Log In"/>
</form>
<form th:action="@{/register}" th:object="${user}">
    <input type="submit" value="Sign Up"/>
</form>
<form th:action="@{/admin_login}" th:object="${user}">
    <input type="submit" value="Admin"/>
</form>
</body>
</html>