<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	
		<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="resources/css/homeStyle.css">
	</head>
	<body>
    <div class = "headerContainer">
	    <h1>Welcome</h1>
		<p>You are not logged in. :(</p>
        <div class = "buttonContainer">
			<form th:action="@{/login}" th:object="${user}">
				<input type="submit" value="Log In"/>
			</form>
			<form th:action="@{/register}" th:object="${user}">
				<input type="submit" value="Sign Up"/>
			</form>
			<form th:action="@{/admin_login}" th:object="${user}">
				<input type="submit" value="Admin"/>
			</form>
        </div>
    </div>

    <div class = "bodyContainer">
        <div class = "searchContainer">
            <form id = form th:action="@{/search_web}">
                <input type="text" th:value="${searchString}" name="searchString" placeholder="Search Movie">
                <button id = "redButton" type="submit" class="btn btn-primary btn-block btn-large">Search</button>
            </form>
        </div>

        <h1>Now Playing</h1>

        <div class = "movieContainer">
    <tr th:each="nowPlaying : ${nowPlayings}">

            <div class="gallery">
                <a>
                    <img th:src="*{nowPlaying.trailerPicture}" alt="Shang Chi">
                    <iframe width="150" height="85" th:src="*{nowPlaying.trailerVideo}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
                <h2 data-th-text="*{nowPlaying.title}"> Hello </h2>
                <p data-th-text="*{nowPlaying.rating}"></p>
                <!--<button type="button">Book Movie</button>-->
                <form th:action="@{/info}" th:object="${movieTitle}" th:value="${nowPlaying}">
                    <!--<h2 data-th-text="*{title}"> Hello </h2>-->
                    <input type="hidden" th:name="title" th:id="title" th:value="${nowPlaying.title}">
                    <input type="hidden" th:name="id" th:id="id" th:value="${nowPlaying.id}">
                    <input type="hidden" th:name="rating" th:id="rating" th:value="${nowPlaying.rating}">
                    <input type="hidden" th:name="genre" th:id="genre" th:value="${nowPlaying.genre}">
                    <input type="hidden" th:name="cast" th:id="cast" th:value="${nowPlaying.cast}">
                    <input type="hidden" th:name="director" th:id="director" th:value="${nowPlaying.director}">
                    <input type="hidden" th:name="producer" th:id="producer" th:value="${nowPlaying.producer}">
                    <input type="hidden" th:name="synopsis" th:id="synopsis" th:value="${nowPlaying.synopsis}">
                    <input type="hidden" th:name="trailerPicture" th:id="trailerPicture" th:value="${nowPlaying.trailerPicture}">
                    <input type="hidden" th:name="trailerVideo" th:id="trailerVideo" th:value="${nowPlaying.trailerVideo}">
                    <input type="hidden" th:name="state" th:id="state" th:value="${nowPlaying.state}">
                    <input type="submit" value="Book / Info"/>
                </form>

            </div>

    </tr>
        </div>

        <h1>Coming Soon</h1>

        <div class = "movieContainer">
            <tr th:each="comingSoon : ${comingSoons}">

                <div class="gallery">
                    <a>
                        <img th:src="*{comingSoon.trailerPicture}" alt="Shang Chi">
                        <iframe width="150" height="85" th:src="*{comingSoon.trailerVideo}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <h2 data-th-text="*{comingSoon.title}"> Hello </h2>
                    <p data-th-text="*{comingSoon.rating}"></p>
                    <!--<button type="button">Book Movie</button>-->
                    <form th:action="@{/info}" th:object="${movieTitle}" th:value="${comingSoon}">
                        <!--<h2 data-th-text="*{title}"> Hello </h2>-->
                        <input type="hidden" th:name="title" th:id="title" th:value="${comingSoon.title}">
                        <input type="hidden" th:name="id" th:id="id" th:value="${comingSoon.id}">
                        <input type="hidden" th:name="rating" th:id="rating" th:value="${comingSoon.rating}">
                        <input type="hidden" th:name="genre" th:id="genre" th:value="${comingSoon.genre}">
                        <input type="hidden" th:name="cast" th:id="cast" th:value="${comingSoon.cast}">
                        <input type="hidden" th:name="director" th:id="director" th:value="${comingSoon.director}">
                        <input type="hidden" th:name="producer" th:id="producer" th:value="${comingSoon.producer}">
                        <input type="hidden" th:name="synopsis" th:id="synopsis" th:value="${comingSoon.synopsis}">
                        <input type="hidden" th:name="trailerPicture" th:id="trailerPicture" th:value="${comingSoon.trailerPicture}">
                        <input type="hidden" th:name="trailerVideo" th:id="trailerVideo" th:value="${comingSoon.trailerVideo}">
                        <input type="hidden" th:name="state" th:id="state" th:value="${comingSoon.state}">
                        <input type="submit" value="Book / Info"/>
                    </form>

                </div>

            </tr>
        </div>
        <!--
        <div class = "movieContainer">
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=8YjFbMbfXaQ">
                    <img src="jpg/trailer1.jpg" alt="Shang Chi">
                </a>
                <h2>Shang-Chi</h2>
                <p>PG-13</p>
                <button type="button">Book Movie</button>
            </div>
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=X2m-08cOAbc">
                    <img src="jpg/trailer2.jpg" alt="Free Guy">
                </a>
                <h2>Free Guy</h2>
                <p>PG-13</p>
                <button type="button">Book Movie</button>
            </div>
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=g_c_Jd-hP-s">
                    <img src="jpg/trailer3.jpg" alt="Dear Evan Hansen">
                </a>
                <h2>Dear Evan Hansen</h2>
                <p>PG-13</p>
                <button type="button">Book Movie</button>
            </div>
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=ikDJlfuU758">
                    <img src="jpg/trailer4.jpg" alt="Candyman">
                </a>
                <h2>Candyman</h2>
                <p>R</p>
                <button type="button">Book Movie</button>
            </div>
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=JVc8SI5CAKw">
                    <img src="jpg/trailer5.jpg" alt="Cry Macho">
                </a>
                <h2>Cry Macho</h2>
                <p>PG-13</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
        </div>
        
        <h1>Coming Soon</h1>
        <div class = "movieContainer">
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=qZuQc-GvRlk">
                    <img src="jpg/trailer6.jpg" alt="Wakanda Forever">
                </a>
                <h2>Black Panther: Wakanda Forever</h2>
                <p>PG-13</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
                
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=x_me3xsvDgk">
                    <img src="jpg/trailer7.jpg" alt="The Eternals">
                </a>
                <h2>The Eternals</h2>
                <p>PG-13</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
                
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=4zH5iYM4wJo">
                    <img src="jpg/trailer8.jpg" alt="Clifford">
                </a>
                <h2>Clifford the Big Red Dog</h2>
                <p>PG</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
                
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=OUwVHX3242M">
                    <img src="jpg/trailer9.jpg" alt="Halloween Kills">
                </a>
                <h2>Halloween Kills</h2>
                <p>R</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
                
            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=OUwVHX3242M">
                    <img src="jpg/trailer10.jpg" alt="No Way Home">
                </a>
                <h2>Spiderman: No Way Home</h2>
                <p>PG-13</p>
                <button class="bookMovie" type="button">Book Movie</button>
            </div>
        </div>
        -->
    </div>

	</body>
</html>