<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
		<link rel ="stylesheet" type="text/css" href="resources/css/style.css"/>
		<link rel ="stylesheet" type="text/css" href="resources/css/home.css"/>
		<link rel ="stylesheet" type="text/css" href="resources/css/homeStyle.css"/>

</head>
<body>
<h1>Welcome!</h1>

<p>You are logged in! :)</p>
<form th:action="@{/edit_profile}" th:object="${user}">
    <input type="submit" value="Edit Profile"/>
</form>
<form th:action="@{/home}" th:object="${user}" method="post">
    <input type="submit" value="Log Out"/>
</form>
</body>
</html>