<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
		<link rel ="stylesheet" type="text/css" href="resources/css/homeStyle.css"/>

</head>
<body>
<h1>Welcome!</h1>

<p>You are logged in! :)</p>
<form th:action="@{/edit_profile}" th:object="${user}">
    <input type="submit" value="Edit Profile"/>
</form>
<form th:action="@{/home}" th:object="${user}" method="post">
    <input type="submit" value="Log Out"/>
</form>
<div class = "bodyContainer">
    <div class = "searchContainer">
        <i class="fa fa-search icon"></i>
        <input type="text" placeholder="Search Movie">
    </div>
    <h1>Now Playing</h1>
    <div class = "movieContainer">
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=8YjFbMbfXaQ">
                <img src="jpg/trailer1.jpg" alt="Shang Chi">
            </a>
            <h2>Shang-Chi</h2>
            <p>PG-13</p>
            <button type="button">Book Movie</button>
        </div>
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=X2m-08cOAbc">
                <img src="jpg/trailer2.jpg" alt="Free Guy">
            </a>
            <h2>Free Guy</h2>
            <p>PG-13</p>
            <button type="button">Book Movie</button>
        </div>
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=g_c_Jd-hP-s">
                <img src="jpg/trailer3.jpg" alt="Dear Evan Hansen">
            </a>
            <h2>Dear Evan Hansen</h2>
            <p>PG-13</p>
            <button type="button">Book Movie</button>
        </div>
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=ikDJlfuU758">
                <img src="jpg/trailer4.jpg" alt="Candyman">
            </a>
            <h2>Candyman</h2>
            <p>R</p>
            <button type="button">Book Movie</button>
        </div>
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=JVc8SI5CAKw">
                <img src="jpg/trailer5.jpg" alt="Cry Macho">
            </a>
            <h2>Cry Macho</h2>
            <p>PG-13</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>
    </div>

    <h1>Coming Soon</h1>
    <div class = "movieContainer">
        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=qZuQc-GvRlk">
                <img src="jpg/trailer6.jpg" alt="Wakanda Forever">
            </a>
            <h2>Black Panther: Wakanda Forever</h2>
            <p>PG-13</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>

        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=x_me3xsvDgk">
                <img src="jpg/trailer7.jpg" alt="The Eternals">
            </a>
            <h2>The Eternals</h2>
            <p>PG-13</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>

        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=4zH5iYM4wJo">
                <img src="jpg/trailer8.jpg" alt="Clifford">
            </a>
            <h2>Clifford the Big Red Dog</h2>
            <p>PG</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>

        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=OUwVHX3242M">
                <img src="jpg/trailer9.jpg" alt="Halloween Kills">
            </a>
            <h2>Halloween Kills</h2>
            <p>R</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>

        <div class="gallery">
            <a href="https://www.youtube.com/watch?v=OUwVHX3242M">
                <img src="jpg/trailer10.jpg" alt="No Way Home">
            </a>
            <h2>Spiderman: No Way Home</h2>
            <p>PG-13</p>
            <button class="bookMovie" type="button">Book Movie</button>
        </div>
    </div>
</div>
</body>
</html>