<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel ="stylesheet" type="text/css" href="resources/css/style.css"/>

</head>
<body>
<h1 th:object="${movieTitle}" th:text="${movieTitle.title}"> Movie Title</h1>

<table>

    <tr>
        <th scope="row">Rating</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.rating}"></td>
    </tr>
    <tr>
        <th scope="row">Genre</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.genre}"></td>
    </tr>
    <tr>
        <th scope="row">Cast</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.cast}"></td>
    </tr>
    <tr>
        <th scope="row">Director</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.director}"></td>
    </tr>
    <tr>
        <th scope="row">Producer</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.producer}"></td>
    </tr>
    <tr>
        <th scope="row">Synopsis</th>
        <td th:object="${movieTitle}" th:text="${movieTitle.synopsis}"></td>
    </tr>


        <th>Show Dates and Times</th>
    <br>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Time Period</th>
    </tr>
    <tr th:each="show : ${shows}">
        <td th:text="${show.id}">123</td>
        <td th:text="${show.title}">123</td>
        <td th:text="${show.showDate}">123</td>
        <td th:text="${show.timePeriod}">123</td>
        <td>
        <form th:action="@{/}" th:object="${user}">
            <input type="submit" value="Book"/>
        </form>
        </td>
    </tr>




</table>

<!--Below - Figure out how to add a user upon button click -->
<!--
<button type="button" onclick=" ${BootStrapData.UserRepository.()}">Click Me!</button>
-->

</body>
</html>