<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Seat Selection</title>
  <link rel="stylesheet" type="text/css"  href="resources/css/selectSeating.css">
  <!-- <h1 id="header">Seats for X</h1> -->
  <h1 id = "header" th:object="${movieShowing}" th:text="${movieShowing.title}"> Movie Title</h1>
  <h1>Show Date</h1>
  <p th:object="${movieShowing}" th:text="${movieShowing.showDate}"> Show Date</p>
  <h1>Time Period</h1>
  <p th:object="${movieShowing}" th:text="${movieShowing.timePeriod}"> Time</p>
</head>
<body>
<div class="seating">
  <center>
    <h2>
      Screen
    </h2>
  </center>
  <div class="row">
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
  </div>
  <div class="row">
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
  </div>

  <div class="row">
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
  </div>
  <div class="row">
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
  </div>
  <div class="row">
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
    <div class="seat"></div>
  </div>
</div>
<br><center><h2>Number of seats selected: <span id = "count">0</span></h2></center>
<script src = "seatingScript.js"></script>

</body>


<center>
<form th:action="@{/checkout}" th:object="${ticket}" method="post">
  <div><label> Screen Id : <input th:field="*{screeningId}" type="text" name="screeningId"/> </label></div>
  <div><label> Number Of Seats : <input th:field="*{seatNum}" type="text" name="seatNum"/> </label></div>
  <div><label> User Id : <input th:field="*{userId}" type="text" name="userId"/> </label></div>
  <div><label> Number of Children : <input th:field="*{numChild}" type="text" name="numChild"/> </label></div>
  <div><label> Number of Adults : <input th:field="*{numAdult}" type="text" name="numAdult"/> </label></div>
  <div><input type="submit" value="Check Out"/></div>
</form>
</center>

</html>