<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Movie</title>
    <link rel="stylesheet" type="text/css"  href="resources/css/homeStyle.css">
</head>
<body>
<div class="container">
    <div class="box">
        <h1 id = 'header'>Add Movie</h1>
        <form id = form th:action="@{/add_movie_process}" th:object="${movieTitle}"
              method="post" style="max-width: 600px; margin: 0 auto;">


            <input th:field="*{title}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Movie Title: "/>
            <input th:field="*{genre}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Genre: "/>
            <input th:field="*{cast}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Cast: "/>
            <input th:field="*{director}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Director: "/>
            <input th:field="*{producer}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Producer: "/>
            <input th:field="*{synopsis}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Synopsis: "/>
            <input th:field="*{trailerPicture}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Trailer Image: "/>
            <input th:field="*{trailerVideo}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Trailer Video: "/>
            <input th:field="*{rating}" class="form-control"
                   required minlength="2" maxlength="20" type="text" name="fn" placeholder="Rating: "/>
            <button id = "redButton" type="submit" class="btn btn-primary btn-block btn-large">Submit</button></br>

        </form>
    </div>
</div>

</body>
</html>